.projects-container {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  z-index: 1;
  padding: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.projects-content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 3rem 2rem 1rem;
  overflow: visible !important;
}

.slick-list {
  padding: 0.9rem !important;
}

.projects-content .slick-list {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

.projects-content .slick-track,
.projects-content .slick-slide {
  overflow: visible !important;
}

.particles-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.projects-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  justify-content: center;
  display: flex;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-dots {
  bottom: -30px;
}

.arrow-left,
.arrow-right {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  position: absolute;
  top: 55%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left span,
.arrow-right span {
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left {
  left: -2rem;
}

.arrow-right {
  right: -4rem;
}

@media (max-width: 1399px) {
  .arrow-left {
    left: -0.7rem;
  }

  .arrow-right {
    right: -2.5rem;
  }
}

@media (max-width: 1024px) {
  .arrow-left,
  .arrow-right {
    width: 1.8rem;
    height: 1.8rem;
  }

  .arrow-left span,
  .arrow-right span {
    font-size: 1.5rem !important;
    font-weight: 500;
  }

  .arrow-left {
    left: 0.6rem;
  }

  .arrow-right {
    right: 0.8rem;
  }

  .particles-bg {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .arrow-left,
  .arrow-right {
    width: 1.8rem;
    height: 1.8rem;
  }

  .arrow-left span,
  .arrow-right span {
    font-size: 1.7rem !important;
    font-weight: 500;
  }

  .arrow-left {
    left: 1.2rem;
  }

  .arrow-right {
    right: 1.6rem;
  }
}

@media (max-width: 590px) {
  .arrow-left,
  .arrow-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .projects-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}

.projects-container > .particles-container.particles-bg {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
