.projects-container {
  margin: 4rem 0;
  position: relative;
}

.projects-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-dots {
  bottom: -30px;
}

.arrow-left,
.arrow-right {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  position: absolute;
  top: 55%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left span,
.arrow-right span {
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left {
  left: -2rem;
}

.arrow-right {
  right: -2rem;
}

@media (max-width: 1025px) {
  .arrow-left {
    left: 0rem;
  }

  .arrow-right {
    right: 0rem;
  }
}

@media (max-width: 768px) {
  .projects-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .arrow-left {
    left: -1rem;
  }

  .arrow-right {
    right: -1rem;
  }
}
