.experience-container {
  margin: 4rem 0;
  position: relative;
}

.experience-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.experience-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.sort-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #6751b9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.sort-button:hover {
  background-color: #8a75d6;
}

.arrow-left-we,
.arrow-right-we {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  position: absolute;
  top: 55%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left-we span,
.arrow-right-we span {
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left-we {
  left: -2rem;
}

.arrow-right-we {
  right: -4rem;
}

@media (max-width: 1399px) {
  .arrow-left-we {
    left: -0.7rem;
  }

  .arrow-right-we {
    right: -2.5rem;
  }
}

@media (max-width: 1024px) {
  .arrow-left-we,
  .arrow-right-we {
    width: 1.8rem;
    height: 1.8rem;
  }

  .arrow-left-we span,
  .arrow-right-we span {
    font-size: 1.5rem !important;
    font-weight: 500;
  }

  .arrow-left-we {
    left: -0.9rem;
  }

  .arrow-right-we {
    right: -1.5rem;
  }
}

@media (max-width: 768px) {
  .arrow-left-we,
  .arrow-right-we {
    width: 1.4rem;
    height: 1.4rem;
  }

  .arrow-left-we span,
  .arrow-right-we span {
    font-size: 1.2rem !important;
    font-weight: 500;
  }

  .arrow-left-we {
    left: -0.7rem;
  }

  .arrow-right-we {
    right: -0.7rem;
  }

  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .experience-header {
    flex-direction: column;
    gap: 0.5rem;
  }
  .sort-button {
    position: static;
    transform: none;
    right: auto;
    top: auto;
  }
}

@media (max-width: 590px) {
  .arrow-left-we,
  .arrow-right-we {
    display: none;
  }
}
